.content {
    min-height: 200px;
}

#results {
    font-size: 14px;
    font-weight: bold;
    border: 2px solid #bbb;
    padding: 15px;
    text-align: left;
    min-height: 150px;
    background-color: white;
}

#speaker, #div_start {
    float: right;
}

#start_listen, #start_button {
    border: 0;
    background-color: transparent;
    padding: 0;
}

.button {
    display: none;
}

#ndcandoc {
    font-size: 14px;
    font-weight: bold;
    border: 2px solid #bbb;
    padding: 15px;
    text-align: left;
    background-color: white;
}

.modal-confirm {
    color: #636363;
    width: 325px;
}

.modal-confirm .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
}

.modal-confirm .modal-header {
    border-bottom: none;
    position: relative;
}

.modal-confirm h4 {
    text-align: center;
    font-size: 26px;
    margin: 30px 0 -15px;
}

.modal-confirm .form-control, .modal-confirm .btn {
    min-height: 40px;
    border-radius: 3px;
}

.modal-confirm .close {
    position: absolute;
    top: -5px;
    right: -5px;
}

.modal-confirm .modal-footer {
    border: none;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
}

.modal-confirm .icon-box {
    color: #fff;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -70px;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    z-index: 9;
    background: #82ce34;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.modal-confirm .icon-box i {
    font-size: 58px;
    position: relative;
    top: 3px;
}

.modal-confirm.modal-dialog {
    margin-top: 150px;
}

.modal-confirm .btn {
    color: #fff;
    border-radius: 4px;
    background: #82ce34;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    border: none;
}

.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}

#word {
    font-size: larger;
    color: #1b6d85;
}

#listLevels {
    overflow-y: auto;
    max-height: 350px;
}

.listpanel {
    padding: 10px;
}

.nd {
    border-left: 2px dashed #00b5a9;
    padding-left: 30px;
    min-height: 300px;
}

.title-list {
    font-size: larger;
    font-weight: bolder;
    text-align: center;
}

.btncontroll {
    text-align: center;
}

#check {
    width: 150px;
}

.title-guide {
    margin-top: 20px;
    font-size: x-large;
    font-weight: bold;
    color: #555555;
}

p {
    text-align: justify;
    font-size: larger;
}

.step {
    color: #00b5a9;
    font-weight: bolder;
}

#mouse {
    width: 90px;
    -ms-transform: rotate(-20deg); /* IE 9 */
    -webkit-transform: rotate(-20deg); /* Safari 3-8 */
    transform: rotate(-20deg);
}
