.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    background-color: #f5f5f5;;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #00b5a9;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

button:hover, a:hover {
    opacity: 0.7;
}

table {
    width: 100%;
    text-align: center;
    font-weight: bolder;
}

.left {
    border-right: 1px solid darkgrey;
}

#listenLevel {
    font-size: xx-large;
    color: #761c19;
}

#speakLevel {
    font-size: xx-large;
    color: #761c19;
}

.panel {
    margin-right: 10px;
}